<div class="container mt-4">
  <h2>Izmena profila</h2>

  <div class="form-group">
    <label>Ime</label>
    <input class="form-control" [(ngModel)]="ime" />
  </div>

  <div class="form-group">
    <label>Prezime</label>
    <input class="form-control" [(ngModel)]="prezime" />
  </div>

  <div class="form-group">
    <label>Biografija</label>
    <textarea class="form-control" rows="4" [(ngModel)]="biografija"></textarea>
  </div>

  <div class="form-group">
  <label for="staraLozinka">Stara lozinka</label>
  <input type="password" id="staraLozinka" class="form-control" [(ngModel)]="staraLozinka" name="staraLozinka">
</div>

<div class="form-group">
  <label for="novaLozinka">Nova lozinka</label>
  <input type="password" id="novaLozinka" class="form-control" [(ngModel)]="novaLozinka" name="novaLozinka">
</div>


  <div class="form-group">
    <label>Slika</label><br />
    <img [src]="'http://localhost:8080/' + slikaPath" alt="Profilna" height="150" *ngIf="slikaPath"><br /><br />
    <input type="file" (change)="onFileSelected($event)" />
  </div>

  <button class="btn btn-primary mt-3" (click)="sacuvaj()">Sačuvaj</button>
</div>
