<h3>Upis studenta na predmete</h3>

<form [formGroup]="pretragaForma" (ngSubmit)="pretraziStudenta()" class="mb-3">
  <label for="indeks">Broj indeksa:</label>
  <input type="text" id="indeks" class="form-control" formControlName="brojIndeksa" />
  <button class="btn btn-primary mt-2" type="submit">Pretraži</button>
</form>

<div *ngIf="student">
  <h5>Student: {{ student.ime }} {{ student.prezime }} ({{ student.brojIndeksa }})</h5>
  <div *ngIf="porukaGreske" class="text-danger mt-2">
  {{ porukaGreske }}
</div>

  <div class="mt-3">
  <h6>Pretraga i izbor predmeta:</h6>

  <input type="text" class="form-control mb-2" placeholder="Pretraga po imenu predmeta"
         [(ngModel)]="filterPredmet" name="pretragaPredmeta" />

  <div *ngFor="let predmet of filtriraniPredmeti()" class="form-check">
    <input type="checkbox" class="form-check-input" [id]="'predmet_' + predmet.id"
           (change)="togglePredmet(predmet.id)" />
    <label class="form-check-label" [for]="'predmet_' + predmet.id">
      {{ predmet.naziv }}
    </label>
  </div>
</div>

  <button class="btn btn-success mt-3" (click)="upisiStudenta()"
  [disabled]="!student || izabraniPredmeti.size === 0">Upiši studenta</button>
</div>

<div *ngIf="pretragaPokusana && student === null">
  <p class="text-danger">Student nije pronađen.</p>

</div>